.Nav-list{
    display: flex;
    justify-content: space-between;
    border:1px solid black
}
.nav>ul{
    display: flex;

}
.nav>ul>li{
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}

.resturant-list{
    display: flex;
    flex-wrap: wrap;
}
img{
    width: 100px;
    height: 100px;

}
.card{
    width: 200px;
    border: 2px solid black;
    padding:10px;
    margin: 30px
}
.card>img{
    width: 100%;
 
}

.search-container{
    margin: 10px;
}
.search-button{
    margin: 10px;
}
.resturant-menu{
    display: flex;
    margin: 10px;
}
.shimmer-list{
    width: 200px;
    padding:10px;
    margin: 30px;
    height:200px;
    background-color: lightgray;
}
